@model ic_ef.pallet_master

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pallet_master</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pallet_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
