
@{
    ViewBag.Title = "Retail_Dymo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>
    <script src="~/js/PrintLabel_retail.js"></script>
    <script src="~/js/PrintLabel_retail_custom.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="http://www.labelwriter.com/software/dls/sdk/js/DYMO.Label.Framework.2.0.2.js"></script>
</head>
<body>


    <h2><i class="fa fa-building" aria-hidden="true"></i> Retail Label</h2>

    <br />



    <div class="container">
        <div class="row">
            <h4>Data : </h4>
            <div class="col-lg-12">
                <img id="loading" src="~/Content/spinner.gif" alt="Updating ..." style="display: none;" />
                <table class="table" id="table2">
                    <thead>
                        <tr>
                            <th>TimeStamp</th>
                            <th>Asset Tag</th>
                            <th>Model</th>
                            <th>CPU</th>
                            <th>RAM</th>
                            <th>HDD</th>
                            <th>Price</th>
                            <th>Channel</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">

                <div class="panel panel-default">
                    <div class="panel-heading">Search By Asset Tag</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="search_input">Search Asset Tag:</label>
                            <input type="text" required class="form-control" id="search_input">
                            <label for="price_text">Price:</label>
                            <input type="text" class="form-control" id="price_text">
                            <label for="title_text">Channel:</label>
                            <input type="text" class="form-control" id="title_text" value="Mar">
                            <label for="time_text">Time:</label>
                            <input type="text" class="form-control" id="time_text">
                            <button type="submit" class="btn btn-default" id="submit_asset">Submit</button>
                            <button type="submit" class="btn btn-default" id="show_sample">Sample Label</button>
                          <p><label for="non_custom_printersSelect">Select Printer:</label></p>
                            <p><select id="non_custom_printersSelect" class="form-control"></select></p>
                           
                        </div>
                    </div>
                </div>




            </div>

            <div class="col-lg-4">

                <div class="panel panel-default">
                    <div class="panel-heading">Create New Label</div>
                    <div class="panel-body">

                        <form role="form" id="create_group">

                            <label for="creat_asset_tag">Asset Tag:</label>
                            <input type="text" minlength="2" class="form-control" id="creat_asset_tag" required>
                            <label for="creat_model">Model:</label>
                            <input type="text" class="form-control" id="creat_model">
                            <label for="creat_cpu">CPU:</label>
                            <input type="text" class="form-control" id="creat_cpu">
                            <label for="creat_ram">RAM:</label>
                            <input type="text" class="form-control" id="creat_ram">
                            <label for="creat_hdd">HDD:</label>
                            <input type="text" class="form-control" id="creat_hdd">
                            <label for="creat_price">Price:</label>
                            <input type="text" class="form-control" id="creat_price">
                            <label for="creat_channel">Channel</label>
                            <input type="text" class="form-control" id="creat_channel" value="Mar">
                            <button type="button" id="submit_create" class="btn btn-default">Submit</button>
                            <p><label for="printersSelect">Select Printer:</label></p>
                            <p><select id="printersSelect" class="form-control"></select></p>
                           

                        </form>
                        <input type="button" value="Print" class="form-control" id="printButton" />
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <img id="sampel_pic" src="~/Content/retail_sample.png" alt="sample" style="display: none;max-width:100%; max-height:100%;" />
            </div>
        </div>

        
    </div>


    <script>
        $(document).ready(function () {
            var d = new Date();
            var n = d.getTime();
            var responseDate = moment(n).format('YYYY-MM-DD');
            $("#time_text").val(responseDate);
            
            $("#show_sample").click(function () {
                $('#sampel_pic').toggle();
            })



            $("#submit_create").click(function () {
                $('#loading').show();
                var asset = $("#creat_asset_tag").val();
                var model = $("#creat_model").val();
                var cpu = $("#creat_cpu").val();
                var ram = $("#creat_ram").val();
                var hdd = $("#creat_hdd").val();
                var price = $("#creat_price").val();

                var jsonObject = {
                    "asset": asset,
                    "model": model,
                    "cpu": cpu,
                    "ram": ram,
                    "hdd": hdd,
                    "price": price
                };
                $.ajax({
                    url: "@Url.Action("create_dymo")",
                    type: "POST",
                    data: JSON.stringify(jsonObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $('#loading').hide();

                        //write code here manage "data"
                    },
                    error: function () {
                        $('#loading').hide();
                        alert("Please Make Sure all 'Create New Label' Fields are fill in");

                        $("#result").html('there is error while submit');
                    }

                });
            });
            $("#submit_asset").click(function () {
                $('#loading').show();

                var asset = $("#search_input").val();
                var price = $("#price_text").val();
                var channel = $("#title_text").val();

                $.getJSON('@Url.Action("RetailDymo")', {
                    asset: asset,
                    price : price
                })
                .done(function (data) {

                    $('#loading').hide();

                   
                    var tr;
                  
                    for (var i = 0; i < data.result.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + responseDate + "</td>");
                        tr.append("<td>" + data.result[i].ictag + "</td>");
                        tr.append("<td>" + data.result[i].model + "</td>");
                        tr.append("<td>" + data.result[i].cpu + "</td>");
                        tr.append("<td>" + data.result[i].ram + "</td>");
                        tr.append("<td>" + data.result[i].hdd + "</td>");
                        tr.append("<td>" + price + "</td>");
                        tr.append("<td>" + channel + "</td>");
                        tr.append("<td> <input type='button' value='Print' class='form-control' id='non_custom_printButton'/> </button></td>");
                        $("#table2").append(tr);
                    }

                })

               .fail(function (jqxhr, textStatus, error) {
                   var err = textStatus + ", " + error;
                   console.log("Asset Not Found: " + err);
               });

            });
        });
    </script>


</body>