
@{
    ViewBag.Title = "inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="ui raised very padded text container segment">
    <h2 class="ui header">Manage Inventory</h2>

    <button class="circular ui icon button">
        <i class="icon settings"></i>
    </button>
    <button class="circular ui icon button">
        <i class="icon settings"></i>
    </button>
    <button class="circular ui icon button">
        <i class="icon settings"></i>
    </button>
    <button class="circular ui icon button">
        <i class="icon settings"></i>
    </button>

    
</div>