@model ic_ef.Models.DymoViewModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery-barcode.min.js"></script>

<head>
    <style>
        .form-control {
            margin: 10px;
        }

        .tobeprint {
            page-break-after: always;
        }
    </style>
</head>

<body>
    <h3>Print Asset Tags</h3>
    
    <div class="ui two column centered grid">
        <div class="column">

            <div class="panel panel-info">
                <div class="panel-heading">Print Barcode</div>

                <div class="panel-body">
                    <div class="alert alert-danger">
                        <strong>Please Contact Admin For Reprinting Asset Tag!</strong>
                    </div>

                    <input type="text" class="form-control" id="num" placeholder="Number of Barcode to Print">
                    <button type="button" id="submit_barcode" class="btn btn-default">Submit</button>
                    <button type="button" id="print_barcode" class="btn btn-default">Print</button>

                    <p></p>
                    <div id="barcode_table"></div>


                    <script language="javascript">
                        $("#print_barcode").click(function () {

                            var prtContent = document.getElementById(barcode_table);
                            var WinPrint = window.open('', '', 'letf=100,top=100,width=700,height=500');
                            WinPrint.document.write(barcode_table.innerHTML);
                            WinPrint.document.close();
                            WinPrint.onload = function () { WinPrint.print(); WinPrint.close(); }
                             WinPrint.print();
                        });

                    </script>

                </div>
            </div>
        </div>
       
    </div>

</body>


<script>
    $(document).ready(function () {

    });
    $("#submit_barcode").click(function () {
        $('#barcode_table').empty();
        var table = $.getJSON("@Url.Action("get_count")", function (data) {
            var count = parseInt(data.toString());
            var numToPrint = $('#num').val();

            for (i = 0; i < numToPrint; i++) {
                count += 1;
                $('#barcode_table').append("<div style='page-break-after:always;' class='tobeprint' id='bcTarget" + count + "'></div>");


                $('#bcTarget' + count).barcode(count.toString(), "code39", { barWidth: 2, barHeight: 40 });

            }
            var jsonObject = {
                count: count
            };
            $.ajax({
                url: "@Url.Action("update_counter")",
                type: "POST",

                data: JSON.stringify(jsonObject),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {


                },
            });


        });



    });

</script>