
@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="ui raised very padded text container segment">
    <div class="ui left attached rail">
        <div class="ui segment">
            <h2 class="ui header">Download COA as CSV</h2>
            <div class="ui vertical buttons">
                @Html.ActionLink("Stations 1 Windows COA", "export_coa_csv", "home", new { id = "wcoa_s1" }, new { @class = "ui red basic button" })
                @Html.ActionLink("Stations 1 office COA", "export_coa_csv", "home", new { id = "ocoa_s1" }, new { @class = "ui blue basic button" })
                @Html.ActionLink("Stations 2 Windows COA", "export_coa_csv", "home", new { id = "wcoa_s2" }, new { @class = "ui red basic button" })
                @Html.ActionLink("Stations 2 office COA", "export_coa_csv", "home", new { id = "ocoa_s2" }, new { @class = "ui blue basic button" })

            </div>
        </div>
    </div>
    <h2 class="ui header">COA level</h2>
   
    <h2 class="ui header">Good360</h2>
    <div class="ui four statistics">

        <div class="statistic">
            <div class="label">
               Station 1
            </div>
            <div class="value">
               0
            </div>
            <div class="label">
                Windows COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 1
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Office COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 2
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Windows COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 2
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Office COA
            </div>
        </div>
    </div>
    <h2 class="ui header">TechSoup</h2>
    <div class="ui four statistics">

        <div class="statistic">
            <div class="label">
                Station 1
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Windows COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 1
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Office COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 2
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Windows COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 2
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Office COA
            </div>
        </div>
    </div>
    <h2 class="ui header">MAR</h2>
    <div class="ui four statistics">

        <div class="statistic">
            <div class="label">
                Station 1
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Windows COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 1
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Office COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 2
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Windows COA
            </div>
        </div>
        <div class="statistic">
            <div class="label">
                Station 2
            </div>
            <div class="value">
                0
            </div>
            <div class="label">
                Office COA
            </div>
        </div>
    </div>
</div>