
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test</h2>

<div class="ui equal width grid">
    <div class="column"><div class="ui segment"><a class="ui red ribbon label">Discovery</a></div></div>
    <div class="column"><div class="ui segment"></div></div>
    <div class="column"><div class="ui segment"></div></div>
    <div class="column"><div class="ui segment"></div></div>
    <div class="equal width row">
        <div class="column"></div>
        <div class="column"></div>
    </div>
</div>