

@{
    
   
    ViewBag.Title = "main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="ui two column doubling stackable grid container">
    <div class="column">
        <div class="ui teal raised segment">
          <i class="search link icon"></i>Search ShipStation
          
        </div>
    </div>
  
    <div class="column">
        <div class="ui teal raised segment">
            <div class="ui statistic">
                <div id="today_value" class="value">
                    0
                </div>
                <div class="label">
                    Items Shipped Today
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    


</script>