
@{
    ViewBag.Title = "bin_overview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/js/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>




<div class="ui two column centered grid">
    <div class="column">
        <h2>Inventory Overview</h2>
        <div id="item_total"></div>
    </div>
    <div class="two column centered row">
        <div class="column">
            <table id="table_reminder" class="stripe" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Asset Tag</th>
                        <th>SKU</th>
                        <th>Bin Location</th>
                 

                    </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
       
    </div>
</div>



<script>
    $(document).ready(function () {
        $.getJSON("@Url.Action("get_current_inv")", function (data) {
            $("#item_total").append("<h3># of Items : "+data.length+"</h3>")
            $('#table_reminder').DataTable({
                destroy: true,
                data: data,
              
                columns: [
                                { data: "ictags" },
                               { data: "channel" },
                               { data: "bin_location" },
                             
                ]

            });
        }
                );
    });
    
</script>