
@{
    ViewBag.Title = "mac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/js/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/js/jquery.dataTables.min.js"></script>



<div class="ui raised very padded text container segment">
    <h2 class="ui header">Mac</h2>
    <div class="ui statistics">
        <div class="statistic">
            <div class="value" id="mac_today">
                0
            </div>
            <div class="label">
                Mac Machine Imaged Today
            </div>
        </div>
        
        
    </div>
</div>

<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Asset Tag</th>
            <th>Serial</th>
            
            <th>SKU</th>
            <th>Model</th>
            <th>CPU</th>
            <th>RAM</th>
            <th>HDD</th>
        </tr>
    </thead>
    
</table>

<script>
    $(document).ready(function () {
        $.getJSON("@Url.Action("get_macData")", function (Data) {

            $('#mac_today').text(Data.today);
            $('#example').DataTable({
                destroy: true,
                "pageLength": 50,
                data: Data.table_data,
                columns: [
                    { data: "ictags" },
                    { data: "serial" },
                    
                    { data: "pallet" },
                    { data: "Model" },
                { data: "cpu" },
                 { data: "ram" },
                  { data: "hdd" }
                ]

            });
        });
    });
</script>