
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>mage_order_import</title>  
    <link href="~/css/bootstrap.fd.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.css" rel="stylesheet" />

    <script src="~/js/jquery-1.12.3.js"></script>
    <script src="~/js/papaparse.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.fd.js"></script>
    <script src="~/js/base.js"></script>
</head>

<body>
    <button id="open_btn" class="btn btn-primary">Upload</button>
   
    <div id="output"></div>

    <div class="grid-10 gutter-20">
        <div class="span-7">
            <form class="grid-form">
                <fieldset>
                    <legend>Product Details</legend>
                    <div data-row-span="2">
                        <div data-field-span="1" style="height: 59px;">
                            <label>Product Name</label>
                            <input type="text">
                        </div>
                        <div data-field-span="1" style="height: 59px;">
                            <label>Tags</label>
                            <input type="text">
                        </div>
                    </div>
                    <div data-row-span="2">
                        <div data-field-span="1" style="height: 59px;">
                            <label>Vendor</label>
                            <input type="text">
                        </div>
                        <div data-field-span="1" style="height: 59px;" class="">
                            <label>Product Type</label>
                            <input type="text">
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1" style="height: 184px;" class="">
                            <label>Product Description</label>
                            <textarea rows="6"></textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="span-3">
            <form class="grid-form">
                <fieldset>
                    <legend>Product Specs</legend>
                    <div data-row-span="1">
                        <div data-field-span="1" style="height: 59px;">
                            <label>SKU</label>
                            <input type="text">
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1" style="height: 59px;" class="">
                            <label>Initial Stock Level</label>
                            <input type="text">
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1" style="height: 59px;">
                            <label>Cost Price</label>
                            <input type="text">
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1" style="height: 59px;">
                            <label>Wholesale Price</label>
                            <input type="text">
                        </div>
                    </div>
                    <div data-row-span="1">
                        <div data-field-span="1" style="height: 59px;">
                            <label>Retail Price</label>
                            <input type="text">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
        $("#open_btn").click(function() {
            $.FileDialog({multiple: false}).on('files.bs.filedialog', function(ev) {
                var file = ev.files[0];

                Papa.parse(file, {
                    header: true,
                    skipEmptyLines: true,
                    dynamicTyping: true,
                    complete: function (results) {

                        var ResultToConvert = results.data;
                        ResultToConvert.forEach(function (e, i) {
                            // Iterate over the keys of object
                            Object.keys(e).forEach(function (key) {

                                // Copy the value
                                var val = e[key],
                                  newKey = key.replace(/\s+/g, '_');

                                // Remove key-value from object
                                delete ResultToConvert[i][key];

                                // Add value with new key
                                ResultToConvert[i][newKey] = val;

                                var arrrr = JSON.stringify(ResultToConvert, 0, 4);

                            });
                        });
                        console.log(results.data);
                        var jsonObject = { tsorder: results.data };
                        $.ajax({
                            url: 'order_json',
                            method: 'post',
                            data: JSON.stringify(jsonObject),
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                               $("#output").html(response.message);
                            },
                            error: function () {
                                console.error('an error occurred');
                            }
                        });
                    }
                });

                $("#output").html("Order Created!");
            }).on('cancel.bs.filedialog', function(ev) {
                $("#output").html("Cancelled!");
            });
        });
</script>




