


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
  
    <title>Magento Web App</title>
    
</head>
<body>

    
    <div class="ui center aligned basic segment">

        <h1 style="margin-top : 4em; margin-bottom : 0em;font-weight:normal" class="ui header">Magento Web App</h1>
        <h2>Select one</h2>

        <a href="@Url.Action("magento_retail", "production_log")">
            <div class="ui huge primary button">TS/G360 Quick SKU Import<i class="right arrow icon"></i></div>
        </a>
        <a href="@Url.Action("mage_order_import", "production_log")">
            <div class="ui huge primary button">Upload Orders csv for TS/G360<i class="right arrow icon"></i></div>
        </a>
        <a href="@Url.Action("magento_retail_view", "production_log")">
            <div class="ui huge primary button">Retail CheckList<i class="right arrow icon"></i></div>
        </a>
        <a href="@Url.Action("magento_create", "production_log")">
            <div class="ui huge primary button">Create Listing(Advance Mode)<i class="right arrow icon"></i></div>
        </a>
    </div>

    

</body>
</html>
